body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee{font-size:200px}
.fa-clipboard-list {font-size:150px}
.complete-img {width: 100%;height: auto}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
}

.vertical-center{
min-height: 10em;
display: table-cell;
vertical-align: middle
}

.text-justify{
text-align: justify;
text-justify: inter-word;
}

.carousel-indicators li {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    background-color: black;
}
